# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BID_Coin Daemon SNAP
Comment=testnet
GenericName=BID_Coin Digital Currency Daemon Client testnet network
Exec=blockidcoin_coin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/blockidcoin_coin_testnet.png
MimeType=x-scheme-handler/blockidcoin;
Categories=X-Office;X-Finance;
Keywords=internet;blockidcoin_coin;zblockidcoin;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=blockidcoind_testnet.desktop
